#header{
    #navbar{
        padding: 12px 0;
        .container{
            .navbar__content{
                .navbar__top{
                    display: flex;
                    align-content: center;
                    justify-content: space-between;
                    .navbar__right{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 58px;
                        .navbar__middle{
                            display: flex;
                            gap: 20px;
                        }
                        .navbar-right__div{
                            display: flex;
                            p{
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 25px;
                                line-height: 26px;
                                /* identical to box height, or 104% */
                                
                                
                                color: #424242;
                            }
                        }
                        div{
                            .group{
                                transform: translateY(-13px);
                            }
                        }
                    }
                }
                .navbar__hr{
                    border: 1px solid rgba(85, 166, 48, 0.5);
                }
                .navbar__bottom{
                    
                    ul{
                        margin-top: 22px;
                        display: flex;
                        align-content: center;
                        justify-content: space-evenly;
                        list-style-type: none;
                        li{

                            a{
                                text-decoration: none;
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 26px;
                                /* or 162% */
                                
                                
                                color: #424242;
                            }
                        }
                    }
                }
                
               
            }
        }
    }
    #hero{
        margin-top: 27px;
        .container{
            .hero__content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 49px;
                .hero__left{
                    h1{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 39px;
                        line-height: 57px;
                        /* or 146% */
                        
                        text-transform: uppercase;
                        
                        color: #55A630;
                    }
                }
            }
        }
    }
}

// main
.main1-content__flex{
    margin-top: 75px;
    display: flex;
   justify-content: center;
}
.main1__content{
    width: 1036px;
    padding: 60px 14px 60px 25px;
    background: #FFFFFF;
    box-shadow: 10px 10px 10px rgba(207, 207, 207, 0.25);
    
    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 34px;
        /* or 136% */
        
        
        color: #424242;
        
        opacity: 0.8;
    }
}

// main2

.main2col{
    display: flex;
    align-content: center;
    flex-direction: column;
    gap: 25px;
}
.main2{
    .main2__item1{
        margin-top: 175px;
        display: flex;
        flex-direction: column;
        .main2-item1__top{
            text-align: center;
            h1{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 35px;
                line-height: 0px;
                /* or 0% */

                color: #55A630;
                
            }
        }
        .main2-item1__bottom{
            margin-top: 75px;
            display: flex;
            align-content: center;
            justify-content: space-between;
            .main2-bottom__right{
                width: 590px;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                h1{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 26px;
                    /* identical to box height, or 81% */
                    
                    
                    color: #424242;
                    
                    opacity: 0.8;
                }
                .main2-bottom__hr{
                    width: 133px;
                    margin: 25px 0 45px 0;
                    border: 2px solid #55A630;
                }
                p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 33px;
                    /* or 132% */
                    
                    
                    color: #424242;
                    
                    opacity: 0.8;
                }
            }
            
        }
    }
}