* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main__top p {
        width: 565px;
        font-weight: 600;
        font-size: 35px;
        line-height: 50px;
        color: #424242;
        opacity: 0.8;
    }

    .main__top p {
        width: 565px;
    }

    .logo {
        margin-top: 75px;
    }
    .logo img{
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

}

.main__button p {
    width: 1201px;
    padding: 90px 43px 23px;
    margin-top: 75px;
    margin-bottom: 34px;
    background: #ECF9EB;
    left: 120px;
    top: 850px;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    color: #424242;
    opacity: 0.8;
}