* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.d-flex__center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex__column-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.d-flex__between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;


}


#header {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
        border-bottom: 1px solid rgba(85, 166, 48, 0.5);


        .nav__left {
            display: flex;
            align-items: center;
            gap: 22px;
        }
    }


    .nav__left img:hover {
        cursor: pointer;
    }


    .nav__right:hover {
        cursor: pointer;
    }


    .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 59px;
        padding-top: 22px;


        li a {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #424242;
            text-decoration: none;
        }
    }


    .nav__list li a:hover {
        color: green;
        cursor: pointer;
    }


    .hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 49px;
        padding-top: 36px;


        &__right {
            width: 561px;
            font-weight: 600;
            font-size: 19px;
            line-height: 57px;
            color: #55A630;
            text-transform: uppercase;
        }


        .hero__left {
            width: 589px;
            height: 452px;
        }


    }


    .hero__text {
        margin-top: 135px;
        width: 1036px;
        margin: 0 auto;
        margin-bottom: 200px;
        background: #fff;
        box-shadow: 10px 10px 10px rgba(207, 207, 207, 0.25);
        padding: 59px 20px;
        font-weight: 500;
        font-size: 25px;
        color: #424242;
        opacity: 0.8;
    }


    .header__bottom {
        position: relative;
        background-color: #ECFFEB;
        width: 100%;
        margin-top: 20px;


        .bottom__main {
            display: flex;


            .bottom__left {
                .bottom__h3 {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 26px;
                    color: #424242;
                    margin-top: 71px;
                }


                .bottom__h1 {
                    font-weight: 700;
                    font-size: 65px;
                    line-height: 65px;
                    color: #55A630;
                }


                .bottom__p {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 23px;
                    color: #424242;
                    margin-top: 20px;
                }

                .bottom__left__btn {
                    display: flex;
                    gap: 20px;
                    margin-top: 51px;
                    z-index: 10;

                    .bottom__btn1 {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 26px;
                        text-align: center;
                        color: #FFFFFF;
                        padding: 15px 40px;
                        background: #55A630;
                        border: none;
                        margin-left: 5px;
                    }


                    .bottom__btn2 {
                        width: 285px;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 26px;
                        text-align: center;
                        color: #55A630;
                        padding: 15px 40px;
                        background: transparent;
                        border: 1px solid #55A630;
                    }
                }


            }




        }
    }


    .bottom__card {
        position: absolute;
        display: flex;
        align-items: center;
        width: 1200px;
        height: 212px;
        background-color: #fff;
        transform: translateY(-30px);
        box-shadow: 1px 3px 8px #000;


        .card__child h1 {
            font-weight: 700;
            font-size: 45px;
            line-height: 45px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #55A630;
            margin-left: 140px;
        }


        .card__child p {
            font-weight: 400;
            font-size: 23px;
            line-height: 28px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #424242;
            margin-left: 120px;
            width: 150px;
            margin-top: 15px;
        }
    }
}

// main1 - Abduqodir
#main {
    margin-top: 275px;

    .main1__content {
        gap: 71px;

        h1 {
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 28px;
            /* or 80% */

            text-align: center;

            color: #424242;
        }

        .cards {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 54px;
            .card{
                width: 361px;
                background: #FFFFFF;
                box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
              
                .card__content{
                    padding: 16px 20px;
                }
                .card__btn{
                    width: 100%;
                    padding: 16px 70px;
                    border: none;
                    text-align: center;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 26px;
                    /* or 130% */
                    
                    color: #FFFFFF;
                }
            }
            .card-content1 {
                margin-bottom: 14px;
                p {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    /* or 122% */


                    color: #424242;

                    opacity: 0.8;
                }
            }

            .card-content2 {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 28px;
                h1 {
                    text-align: start;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 100%;
                    /* or 30px */

                    letter-spacing: -0.4px;

                    color: #55A630;
                }

                button {
                    border: none;
                    padding: 8px 24px;
                    background: #55A630;
                    border-radius: 9px;
                }

                p {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 20px;
                    /* or 100% */


                    color: #424242;

                    opacity: 0.8;
                }
            }

            .card-flex__left {
                border-left: 1px solid  #55A630;
                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 12px;
                    /* or 80% */


                    color: #424242;

                    opacity: 0.8;
                }
            }
        }
    }
}
// main4


.main__nabor {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: start;
    margin-top: 75px;
    padding-left:85px;

    h1 {
        margin-bottom: 75px;
        font-weight: 700;
        font-size: 40px;
        line-height: 115%;
        letter-spacing: -0.4px;
        color: #55A630;
    }

    p {
        width: 623px;
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
        color: #424242;
     }

    .btn {
        width: 100%;
        font-weight: 600;
        font-size: 23px;
        line-height: 26px;
        color: #FFFFFF;
        background: #55A630;
        padding: 24px 34px ;
        margin-top: 75px;
    }
        .logo{
            width: 565px;
     
         
        } 
        
       
}